body {
  margin: 0;
  padding: 0;
}

.App{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.timer-div{
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 5px;
  background: dodgerblue;
  box-shadow: 0 0 5px dodgerblue;
  padding: 50px 0;
}

.timer, .time{
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.buttons{
  display: flex;
  gap: 25px;
}

.buttons button{
  background: white;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 0 5px white;
  cursor: pointer;
  font-family: Poppins;
}


